body {
    background-image: url('../images/calculate2.png'); 
    background-size: cover; 
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    margin: 200px;
    display: flex-end;
}

#calculate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#calculate h1,
#calculate label,
#calculate input {
    margin: 10px 0;
}

input {
    width: 200px;
    height: 28px;
    font-size: 16px;
    border: 2px solid #5E5472;
    border-radius: 10px;
}

button {
    font-size: 16px; 
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #A496D1;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 4;
}

table, table tr, table td {
    background-color: #A49EAA;
    border: 2px solid #5E5472;
    padding: 10px;
    border-radius: 10px;
}
